<tr class="ring-1 ring-gray-200 dark:ring-gray-600 first:rounded-t-3xl">
    <td class="whitespace-nowrap py-4 pe-4 ps-8 text-left">
        <div class="flex items-center gap-1.5">
            <div>1</div>
            <div class="min-w-0 max-w-[150px] flex-1 truncate">Jean M.</div>
        </div>
    </td>
    <td class="whitespace-nowrap px-2.5 py-4 text-center">3</td>
    <td class="whitespace-nowrap px-2.5 py-4 text-center">12 pts</td>
    <td class="whitespace-nowrap py-4 pe-8 ps-1 text-end text-gray-500 dark:text-gray-400">
        +0.5
    </td>
</tr>